.programs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;

    .programs-header {
        display: flex;
        gap: 5rem;
        font-weight: bold;
        font-size: 3rem;
        justify-content: center;
        color: #fff;
        text-transform: uppercase;
        font-style: italic;
    }

    .programs-categories {
        display: flex;
        gap: 1rem;

        .category {
            display: flex;
            flex-direction: column;
            background-color: gray;
            padding: 2rem;
            gap: 1rem;
            color: #FFF;
            justify-content: space-between;

            .category-img {
                width: 2rem;
                height: 2rem;
                fill: #fff;
            }

            .category-heading {
                font-size: 1rem;
                font-weight: bold;
            }

            .category-details {
                font-size: 0.9rem;
                line-height: 25px;
            }

            .join-now {
                display: flex;
                align-items: center;
                gap: 2rem;

                img {
                    width: 1rem;
                }
            }

            &:hover {
                background: linear-gradient(210.41deg, #fa5042 1.14%, #ffa739 100.75%);
                cursor: pointer;
            }

        }

    }
}
@media screen and (max-width: 768px)
 {
    .programs {
        .programs-header{
            flex-direction: column;
            gap: 1rem;
            font-size: x-large;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;
        }
        .programs-categories {
            flex-direction: column;
            
        }
    }
   
   
 }